<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="Argo_InsuranceScreen">
    <Require
      name="policyperiod"
      type="PolicyPeriod"/>
    <Toolbar>
      <EditButtons/>
      <WizardButtons/>
    </Toolbar>
    <CardViewPanel>
      <Card
        id="ArgoInsurance"
        title="&quot;Policy Details&quot;">
        <PanelRef
          def="Argo_InsuranceDV(policyperiod)"></PanelRef>
      </Card>
      <Card
        id="Plans"
        title="&quot;Plans&quot;">
        <PanelRef>
          <ListDetailPanel
            id="Argo_InsuranceLDV"
            selectionName="ArgoInsu"
            selectionType="entity.ArgoInsurancePlans">
            <ListViewPanel>
              <RowIterator
                editable="true"
                elementName="ArgoInsured"
                value="policyperiod.Argo_Insurance.ArgoInsurancePlans"
                valueType="entity.ArgoInsurancePlans[]">
                <Row>
                  <TextCell
                    align="center"
                    editable="true"
                    id="City"
                    label="&quot;City&quot;"
                    value="ArgoInsured.City"/>
                  <TextCell
                    align="center"
                    editable="true"
                    id="Addressline"
                    label="&quot;Addressline&quot;"
                    value="ArgoInsured.Addressline"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
            <CardViewPanel>
              <Card
                id="License"
                title="&quot;License&quot;">
                <PanelRef
                  def="Argo_InsuranceLiDV(ArgoInsu)"></PanelRef>
              </Card>
              <Card
                id="InsuranceDetails"
                title="&quot;Insurance Details&quot;"/>
            </CardViewPanel>
          </ListDetailPanel>
        </PanelRef>
      </Card>
      <Card
        id="ARMODES"
        title="&quot;Ar MODES&quot;">
        <PanelRef
          def="Argo_InsuranceMODEDV()"
          mode="policyperiod.Argo_Insurance.Argo_Occup"/>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>