<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="Argo_InsuranceDV">
    <Require
      name="PolicyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <InputSetRef
        def="ArgoInsuranceInputSet(PolicyPeriod)"/>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        def="Argo_InsuranceLV(PolicyPeriod)">
        <Toolbar>
          <IteratorButtons
            addVisible="true"
            iterator="Argo_InsuranceLV.Argo_InsuranceLV"/>
          <EditButtons/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>